<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nil.test.sdk.sampleapp">

    <!-- "com.here.mobility.sdk.sampleapp" -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/HappyRideTheme">
        <activity
            android:name=".get_rides.GetRidesActivity"
            android:theme="@style/AppThemeNoTitle"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".geocoding.AutoCompleteActivity" />
        <activity android:name=".ride_offers.RideOffersActivity" />
        <activity android:name=".ride_status.RideStatusActivity" />
        <activity android:name=".rides.ActiveRidesActivity" />
        <activity android:name=".public_transport.PublicTransportActivity" />

        <meta-data
            android:name="com.here.mobility.sdk.API_KEY"
            android:value="@string/here_sdk_app_id" />
        <meta-data
            android:name="HERE_SDK_APP_SECRET"
            android:value="@string/here_sdk_app_secret" />

        <activity android:name=".happy_ride.HomeActivity" />
        <activity android:name=".happy_ride.MarketplaceActivity" />
        <activity android:name=".happy_ride.OrderRideActivity" />
        <activity android:name=".happy_ride.SplashActivity">
        </activity>
        <activity android:name=".happy_ride.OrderConfirmationActivity" />
        <activity android:name=".happy_ride.CameraActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".happy_ride.StickersActivity"/>
    </application>

</manifest>